.DS_Store
build
*.mode1v3
*.pbxuser
project.xcworkspace
xcuserdata
.svn
DerivedData
*.orig
*.xccheckout

Pods/
Glacier/Resources/Properties/Secrets.plist
WireGuardNetworkExtension/Secrets.plist
.claude/

#amplify
amplifyconfiguration.json
Glacier/Application/Configuration/amplifyconfiguration.json
build/
dist/
