<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>twilioAPIEndpoint</key>
	<string>xxx</string>
	<key>wgProfileEndpoint</key>
	<string>xxx</string>
	<key>dnsEndpoint</key>
	<string>xxx</string>
	<key>dnsAPIEndpoint</key>
	<string>xxx</string>
	<key>dnsProfileEndpoint</key>
	<string>xxx</string>
	<key>consoleBaseEndpoint</key>
	<string>xxx</string>
	<key>subscriptionEndpoint</key>
	<string>xxx</string>
	<key>appleSubscriptionValidationEndpoint</key>
	<string>xxx</string>
	<key>dnsCheckEndpoint</key>
	<string>xxx</string>
	<key>dnsCheckIP</key>
	<string>xxx</string>
</dict>
</plist>
